# Ignore node_modules
node_modules/

# Ignore environment files
.env

# Ignore macOS system files
.DS_Store

# Ignore log files
*.log

# Ignore debug files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
